.DailyList {
  @apply grid gap-3 overflow-y-scroll py-6
        lg:flex lg:w-full lg:justify-between lg:overflow-y-visible lg:pb-2;
  grid-template-columns: 1.5rem repeat(7, 9rem) 1.5rem;
}

@media (max-width: 1023px) {
  .DailyList {
    grid-column: 1 / -1 !important;
  }

  .DailyList:before,
  .DailyList:after {
    content: "";
    @apply h-48;
  }
}

.HourlyList {
  @apply grid gap-3 overflow-x-scroll overflow-y-visible py-6
         lg:py-4 lg:overflow-y-hidden;
  grid-template-columns: 1.5rem repeat(24, 9rem) 1.5rem;
  grid-column: 1 / -1 !important;
}

.HourlyList:before,
.HourlyList:after {
  content: "";
  @apply h-48;
}
