.OneDay {
  --temp-space: 10px;
  background-color: #fff;
  border-radius: 15px;
  text-align: center;
}

.forecastWeatherIcon {
  width: 100px;
  margin: -1.5em 1em;
}

.maxTemp {
  margin-right: calc(var(--temp-space) / 2);
}

.minTemp {
  margin-left: calc(var(--temp-space) / 2);
  color: var(--dark-grey);
}
