.Content {
  @apply grid bg-gray-100 py-6 w-screen overflow-y-hidden
        lg:py-7;
  grid-template-columns: 2.25rem 1fr 2.25rem;
}

.Content > * {
  grid-column: 2 / -2;
}

.timespanButton {
  @apply font-medium text-gray-400 mr-5 cursor-pointer transition duration-75 ease-in-out;
}

.timespanButtonActive {
  @apply text-black border-b-2 border-black;
}

.highlightsTitle {
  @apply font-medium text-lg;
}
