.Sidebar {
  @apply w-full px-9 py-6
        sm:px-14 sm:py-10
        lg:w-3/12 lg:h-screen lg:px-8 lg:py-7;
}

.iconInput {
  @apply relative;
}

.searchIcon {
  @apply absolute inset-y-0 flex items-center pl-2;
  left: 5px;
  bottom: 1px;
}

.countrySearch {
  @apply py-1 w-full text-base rounded-xl pl-10 focus:outline-none placeholder-black
        md:w-1/2
        lg:text-sm lg:w-full
        xl:text-base;
}

.searchButton {
  @apply hidden;
}

.currentWeatherIcon {
  @apply w-full max-w-xs m-auto;
}

h1 {
  @apply text-8xl font-serif font-extralight tracking-tighter
        lg:text-7xl
        xl:text-8xl;
}

.feelsLike {
  @apply font-sans text-lg font-light text-gray-400 block tracking-normal
        lg:text-base
        xl:text-lg;
}

.alignment {
  @apply flex flex-col
        sm:flex-row sm:w-full sm:justify-between
        lg:flex-col;
}

h2 {
  @apply text-2xl mt-4
        lg:text-xl;
}

.hour {
  @apply text-gray-400 font-serif;
}

hr {
  @apply my-6 border-gray-100 border-t-2
        sm:hidden
        lg:block;
}

.weatherDescription {
  @apply sm:text-2xl sm:mt-4
        lg:text-lg lg:mt-0;
}
