:root {
  --text-font: 'Poppins';
  --numbers-font: 'Inter';
  --light-grey: #f6f6f7;
  --dark-grey: #a4a6ac;
  --black: #1e1714;
}

body {
  margin: 0;
  font-family: var(--text-font), sans-serif;
  color: var(--black);
  font-size: 1.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}
